<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie1.png" alt="" width = 200px height = 180px>
  </div>
  <div class="headings">
    <h2>Interview Prep Tracker</h2>
    <h3></h3>
    <a href="/practice" class="btn">View Topics</a>
    <a href="/interviewExperience" class="btn">Interview Experiences</a>
  </div>
</header>


<%- include('partials/footer'); -%>